@inherits LayoutComponentBase

<div class="page">
    <div class="header">
        <Header/>
    </div>

    <main class="content-container">
        <div class="content">
            @Body
        </div>
    </main>
</div>
<RadzenComponents @rendermode="InteractiveServer"/>
