<div class="logo-and-text">
    <img class="logo-icon" src="blazor-icon.png" alt=""/>
    <div class="header-title">Exchange Rate</div>
</div>
<div><a href="https://www.exchangerate-api.com/">Used API</a></div>